# 忽略根目录下的 models 文件夹
/models/

# 忽略根目录下的 __pycache__ 文件夹
/infer/cls/__pycache__/
/infer/depth/__pycache__/
/infer/det/__pycache__/
/infer/ocr/__pycache__/
/infer/pose/__pycache__/
/infer/seg/__pycache__/